body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, 
  Consolas, 'Courier New',
    monospace;
}
h1{
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
.blog-container .blog-text .blog-t h4{
  font-size: 1.25rem;
}

.container{
  margin: 0;
  padding: 0;
}
header {
  padding-top: 2rem;
}
.blog-container{
  background-color: lavenderblush;
  color: darkslategrey;

}
.uppercase {
  border-bottom: 3px solid black;
}
.blog-text{
  padding-top: 3rem;
  
}
.blog-t{
  padding-bottom: 3rem;
}
.btn-readmore{
   float: right;
}
.btn-readmore:hover{
  cursor: pointer;
  opacity: 0.7;
 
}
.blog-form{
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 5px 10px darkslategrey;
  padding-bottom: 2rem;
}
.adword-container{
  height: 30vh;
  background-image: url('./cat.jpg');
  border-radius: 15px;
  z-index: 4;
}
.adword-button{
 
  position: relative;
  left: 5px;
  bottom: -50px;
  
}
.cat {
  float: left;
  margin: 5px;
}
.popular-article{
  border-style: groove;
  border-radius: 10px;

}
.article-img{
  width: 100%;
  object-fit: cover;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-top: 0;
}
.article-img:hover{
  filter: drop-shadow(8px 8px 10px gray);
}
.time{
  position: absolute;
  right: 50px;
  top: -30px;
 
}

.meow-img{
  width: 100%;
  max-height: 80vh;
  padding: 2rem;
}

@media (min-width: 576px) { 
  .meow-img{
    width: 100%;
    max-height: 52vh;
    padding: 2rem;
  }
}

@media (min-width: 768px) { 
  .meow-img{
    width: 100%;
    max-height: 68vh;
    padding: 2rem;
  }
}


@media (min-width: 992px) { 
  .meow-img{
    width: 100%;
    max-height: 80vh;
    padding: 2rem;
  }
 }


@media (min-width: 1200px) { 
  .meow-img{
    width: 100%;
    max-height: 100vh;
    padding: 2rem;
  }
 }